*,
*::before,
*::after {
  box-sizing: border-box;
}

a:focus,
input[type="button"]:focus,
button:focus {
  outline: none;
}

body {
  min-width: 1920px;
  margin: 0;
}

.header {
  width: 100%;
  background: url('../images/put-your-image-here.png') no-repeat 320px 270px, url('../images/wrapper-image.png') no-repeat 1151px 0px;
}

.header-menu {
  display: flex;
  justify-content: space-between;
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
}

.header-menu__link {
  margin-right: 5px;
  text-decoration: none;
  margin-top: 69px;
  margin-left: 49px;
  color: #1a1a1d;
  font-family: "Nunito-ExtraBold";
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
  text-transform: uppercase;
  letter-spacing: 2.8px;
}

.header-menu__button-menu {
  background-image: url('../images/menu-icon.png');
  height: 14px;
  width: 20px;
  margin-top: 76px;
  margin-left: 61px;
  border: none;
  cursor: pointer;
}

.header__button-search {
  background-image: url('../images/search-icon.png');
  height: 20px;
  width: 20px;
  margin-top: 73px;
  margin-right: 61px;
  border: none;
  cursor: pointer;
}

.logo {
  background-image: url('../images/logo.png');
  width: 225px;
  height: 32px;
}

.logo--header {
  margin-top: -32px;
  margin-left: auto;
  margin-right: auto;
}

.social-buttons {
  display: flex;
  justify-content: space-between;
}

.social-buttons--header {
  margin-top: 181px;
  margin-left: 65px;
  flex-direction: column;
}

.social-button {
  width: 16px;
  height: 16px;
  margin-bottom: 40px;
  border: none;
  cursor: pointer;
}

.social-button--fb {
  background-image: url('../images/social-icons@1.5x.png');
}

.social-button--inst {
  background-image: url('../images/16px-logo-instagram@1.5x.png');
}

.social-button--yt {
  background-image: url('../images/social-icons@1.5x.png');
  background-position: 0px 66px;
  height: 12px;
}

.social-button--tw {
  background-image: url('../images/social-icons@1.5x.png');
  background-position: 0px 14px;
  height: 14px;
}

.header__content {
  margin-left: 240px;
}

.header__name {
  margin-top: 35px;
  margin-bottom: 62px;
  font-family: "Poppins-Regular";
  font-size: 101px;
  font-weight: 400;
  line-height: 100px;
  letter-spacing: 2.02px;
}

.header__description {
  font-family: "Nunito-SemiBold";
  text-transform: uppercase;
  font-size: 17px;
  letter-spacing: 3.4px;
}

.header__buttons {
  display: flex;
}

.header__button-view {
  background-color: #b4d3d3;
  width: 259px;
  height: 110px;
  border: none;
  color: #fff;
  font-family: "Nunito-ExtraBold";
  font-size: 14px;
  line-height: 30px;
  letter-spacing: 2.8px;
  text-transform: uppercase;
  margin-left: 61px;
  margin-top: 152px;
  cursor: pointer;
}

.header__button-play {
  width: 110px;
  height: 110px;
  border: none;
  background-image: url('../images/play.png');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  margin-top: 152px;
  cursor: pointer;
}

.people__categories {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.people__category {
  display: inline-block;
  margin-top: 80px;
  padding-left: 29px;
  padding-right: 28px;
  text-transform: uppercase;
  font-style: "Nunito-ExtraBold";
  font-weight: 400;
  letter-spacing: 2.4px;
  font-size: 12px;
  border: none;
  line-height: 48px;
}

.people__category:hover {
  border-bottom: 2px solid #1a1a1d;
  font-weight: 700;
  transition-duration: 1s;
  cursor: pointer;
}

.people__talents {
  margin-top: 76px;
  display: table;
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
}

.people__header-row {
  display: table-header-group;
}

.people__footer-row {
  display: table-footer-group;
}

.people__cell {
  display: table-cell;
  width: 420px;
  height: 490px;
  text-align: center;
  vertical-align: bottom;
  padding-bottom: 50px;
}

.people__cell--1 {
  background-image: url('../images/overlay 3@1.5x.png');
}

.people__cell--2 {
  background-image: url('../images/overlay 1.png');
}

.people__cell--3 {
  background-image: url('../images/overlay.png');
}

.people__cell--4 {
  background-image: url('../images/overlay 1.png');
}

.people__cell--5 {
  background-image: url('../images/overlay 1.png');
}

.people__cell--6 {
  background-image: url('../images/overlay 3@1.5x.png');
}

.people__cell--7 {
  background-image: url('../images/overlay 1.png');
}

.people__cell--8 {
  background-image: url('../images/overlay 3@1.5x.png');
}

.people__name {
  font-family: 'Poppins-Regular';
  font-size: 30px;
  font-weight: 400;
  line-height: 49px;
  color: #fff;
  margin: 0;
  letter-spacing: 0.6px;
}

.people__info {
  font-family: "Nunito-ExtraBold";
  font-size: 12px;
  font-weight: 400;
  color: #8c8c94;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.people__button {
  cursor: pointer;
  width: 220px;
  height: 60px;
  text-transform: uppercase;
  color: #fff;
  border: none;
  border-radius: 50px;
  background-color: #b4d3d3;
  font-family: "Nunito-ExtraBold";
  letter-spacing: 2.8px;
  font-size: 14px;
  margin-top: 59px;
  margin-left: 850px;
  margin-bottom: 63px;
}

.news {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.news__title {
  font-family: "Poppins-Regular";
  font-size: 60px;
  font-weight: 400;
  line-height: 79px;
  color: #1a1a1d;
  margin-bottom: 101px;
}

.news__units {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-left: 122px;
}

.news__unit-small {
  width: 525px;
  height: 142px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-right: 50px;
  margin-bottom: 50px;
}

.news__unit-small-image {
  width: 200px;
  height: 139px;
  background-image: url(../images/news-small-image.png);
  margin-right: 41px;
}

.news__unit-title {
  font-size: 24px;
  font-family: "Poppins-Medium";
  font-weight: 500;
  line-height: 36px;
  min-width: 294px;
  color: #1a1a1d;
  margin: 0;
}

.news__unit-data {
  font-size: 16px;
  font-family: "Nunito-Regular";
  font-weight: 400;
  color: #77777e;
  margin: 0;
}

.news__unit-large {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 1104px;
  height: 520px;
  background-image: url('../images/put-your-image-here-copy-2@2x.png');
  margin-right: 50px;
  margin-bottom: 50px;
}

.news__unit-large-label {
  font-size: 14px;
  color: #1a1a1d;
  line-height: 30px;
  font-family: "Nunito-ExtraBold";
  width: 206px;
  height: 56px;
  background-color: #fff;
  text-transform: uppercase;
  letter-spacing: 2.8px;
  text-align: center;
  margin-left: 458px;
  margin-top: 10px;
  padding-top: 15px;
}

.news__unit-large-gradient {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  width: 420px;
  height: 520px;
  background-color: #b4d3d3;
  background-image: linear-gradient(4deg, #b4d3d3 0%, #d9e7e7 100%);
  opacity: 0.5;
}

.news__unit-title--large {
  margin-left: 60px;
}

.news__unit-data--large {
  margin-left: 60px;
}

.news__unit-middle {
  width: 527px;
  height: 424px;
  margin-top: -471px;
  margin-right: 50px;
  margin-bottom: 50px;
}

.news__unit-middle-image {
  width: 527px;
  height: 286px;
  background-image: url('../images/umit-middle-image.png');
  margin-bottom: 27px;
}

.news__video {
  width: 527px;
  height: 422px;
  background-image: url('../images/news__video.png');
  margin-top: -471px;
  margin-right: 50px;
  margin-bottom: 50px;
}

.news__slider {
  width: 527px;
  height: 992px;
  margin-right: 50px;
  margin-bottom: 50px;
}

.news__unit-slide {
  width: 527px;
  height: 856px;
  background-image: url('../images/news__slider.png');
}

.footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 113px;
}

.footer__wrapper {
  display: flex;
  justify-content: space-between;
}

.logo--footer {
  margin-left: 61px;
}

.footer__email {
  margin-right: 61px;
  font-size: 14px;
  font-family: "Nunito-Bold";
  font-weight: 700;
  text-transform: uppercase;
  color: #1a1a1d;
  letter-spacing: 2.8px;
  border: none;
  cursor: pointer;
  border-left: 1px solid #1a1a1d;
  padding-left: 51px;
  padding-right: 56px;
  background-image: url('../images/footer__email.png');
  background-repeat: no-repeat;
  background-position: 337px 7px;
}

.footer__line {
  margin: 40px 60px 49px 60px;
  border-top: 1px solid #f5f5f5;
}

.footer__copyright {
  font-family: "Nunito-Regular";
  font-size: 15px;
  font-weight: 400;
  line-height: 40px;
  color: #77777e;
  margin-left: 61px;
}

.social-buttons--footer {
  margin-right: 61px;
}